# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
ENV/

# Development files
.git/
.github/
.gitignore
.pytest_cache/
tests/

# Distribution / packaging
dist/
build/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

# Environment files
.env
.env.local

# Log files
*.log

# Editor specific files
.vscode/
.idea/
